
  .megamenu {
    position: static;
  }
  
  .megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
  }
  
  .text-right {
    position: fixed;
    right: 0;
    
    margin-right: 30px;
  }
  span {
    content: "\2715";
  }
  .card{
    background-image: url("\space.jpg");
  
    /* border-width: 19px ;
    border-color: #FBE4D8; */
  }
 

 